# Ignore node_modules (dependency management folder)
node_modules/

# Ignore logs
logs/
*.log
*.log.*

# Ignore environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore build output
dist/
build/

# Ignore .glb files (Large files you don't want in the repo)
*.glb

# Ignore package-lock.json if you want to avoid locking dependencies
package-lock.json

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore temporary files created by editors
*.swp
*.swo
*.bak
*~

# Ignore coverage folder created by testing frameworks
coverage/

# Ignore any other global configuration files (e.g., yarn lock, etc.)
yarn.lock
